[is='flynt-block-wysiwyg-two-col-text-image'] {
  .container {
    display: flex;
    height: auto;
    justify-content: space-between;
    // min-height: 80vh;
    row-gap: $padding-desktop;
    
    @media (max-width: $breakpoint-mobile-horizontal) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }
  
  .content {
    @include reset-content-margins;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    &-left {
      margin: 0;
      width: 50%;
    }

    &-right {
      width: 50%;

      .box-inner--image {
        width: 100%;

        figure {
          margin: 0;
        }
      }
    }
  }
}
