[is='flynt-block-qa-sidebar'] {
  .contentWrapper {
    display: block;

    @media (min-width: $breakpoint-mobile-horizontal) {
      column-gap: $padding-desktop * 2;
      display: grid;
      grid-template-columns: 1fr 4fr;
    }
  }

  .sidebar {
    @include reset-content-margins;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    text-align: left;

    @media (min-width: $breakpoint-mobile-horizontal) {
      margin-bottom: 0;
    }
  }

  .content {
    @include reset-content-margins;
    text-align: left;

    .qa {
      @include reset-list;

      .panel {
        &:not(:last-child) {
          margin-bottom: $padding-desktop;
        }

        &-question {
          margin-bottom: $padding-mobile;
  
          &::before {
            content: 'Q.';
            margin-right: $padding-mobile;
          }
        }

        &-answer {  
          p {
            &:last-child {
              margin-bottom: 0;
            }
            
            &::before {
              content: 'A.';
              margin-right: $padding-mobile;
            }
          }
        }
      }
    }
  }

  p {
    img {
      object-fit: cover;
    }
  }
}
