[is='flynt-block-learn-header'] {
  .featuredImage {
    .container {
      padding: 0;
      position: relative;

      .figure {
        max-width: 100%;

        &-image {
          height: calc(100vh - 200px);
          object-fit: cover;
        }
      }
    }
  }

  .content {
    bottom: $padding-desktop;
    left: $padding-desktop;
    max-width: 70%;
    position: absolute;
    text-align: left;

    @media (max-width: $breakpoint-mobile-horizontal) {
      bottom: $padding-mobile;
      left: $padding-mobile;
      max-width: 100%;
    }

    div {
      color: $white;
    }
  }
}
