[is='flynt-block-spacer'] {
  background-color: $black;
  margin-bottom: $component-spacing-desktop;
  margin-left: $component-spacing-desktop;
  margin-top: $component-spacing-desktop;
  width: calc(100vw - 80px);

  @media (max-width: $breakpoint-tablet-horizontal) {
    margin-bottom: $component-spacing-mobile;
    margin-left: $component-spacing-mobile;
    margin-top: $component-spacing-mobile;
    width: calc(100vw - 40px);
  }

  &.lineYes {
    height: 2px;
  }

  &.lineNo {
    height: 0;
  }
}
