<div class="flyntComponent {{ options.theme }}" style="--themeBrand_colorBackground: {{ options.colorBrandBackground }}; height: {{ height }}vh; {% if backgroundImage %}background-image:url('{{ backgroundImage }}');{% endif %}" is="flynt-block-spacer"></div>
