[is='flynt-grid-archive'] {
  .grid {
    @include reset-list;
    align-items: center;
    border-bottom: 3px solid $black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    @media (max-width: $breakpoint-mobile-horizontal) {
      border-bottom: 0;
      grid-auto-rows: auto;
      grid-template-columns: 1fr;
    }

    &-item {
      border-right: 3px solid $black;
      width: 100%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        border-bottom: 3px solid $black;
        border-right: 0;
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
      }

      img {
        display: flex;
        height: 60vh;
        justify-content: center;
        object-fit: cover;
        width: 100%;

        @media (max-width: $breakpoint-tablet-horizontal) {
          height: 40vh;
        }

        @media (max-width: $breakpoint-mobile-horizontal) {
          height: 60vh;
        }
      }

      &:nth-child(3n) {
        border-right: 0;
      }
    }    
  }

  .content {
    background-color: #cecece;
    height: 100%;

    &-inner {
      @include reset-content-margins;
      border-top: 3px solid $black;
      display: flex;
      justify-content: center;

      &:not(.boxPadding) {
        padding: $gap 0;
      }
    }
  }
}
