[is='flynt-grid-image-gallery'] {
  .figure {
    margin: 0;
  }

  .gallery {
    column-gap: $padding-desktop;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: $padding-desktop;

    @media (max-width: $breakpoint-tablet-horizontal) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint-mobile-horizontal) {
      grid-template-columns: 1fr;
    }
  }
}
