[is='flynt-block-shortcode'] {
  padding: $padding-desktop;

  @media (max-width: $breakpoint-mobile-horizontal) {
    padding: $component-spacing-mobile;
  }
  
  .content {
    @include reset-content-margins;
    text-align: inherit;

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .caf-content-read-more {
    display: none !important;
  }
}
