[is='flynt-block-shortcode'] {
  padding: $padding-desktop;
  
  .content {
    @include reset-content-margins;
    text-align: inherit;

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
