/* Custom styling for exhibition posts */

.single-exhibition {
  .mainContent {
    margin-top: 0;
  }

  .post {
    &-main {
      display: flex;
      flex-flow: column wrap;

      .flyntComponent {
        &--imageBanner {
          order: -1;

          img {
            height: 100vh;
            object-fit: cover;
            object-position: bottom;

            @media (max-width: $breakpoint-desktop - 1) {
              height: auto;
            }
          }
        }
      }

      .exhibition-title {
        margin-top: 40px !important;
      }
      
      .exhibition-meta {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        font-weight: bold;
        justify-content: space-between;
        text-transform: uppercase;
        width: 100%;

        @media (max-width: $breakpoint-mobile-horizontal) {
          align-items: flex-start;
        }

        &::after {
          border-bottom: 2px solid $black;
          content: '';
          display: block;
          margin: 10px auto 0;
          width: calc(100vw - 40px);
        }

        .info {
          align-items: center;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          width: 50%;

          @media (max-width: $breakpoint-mobile-horizontal) {
            justify-content: flex-end;
          }
        }
      }
    
      .componentSpacing {
        margin: $component-spacing-mobile/2 0;
        padding: 0 $padding-mobile;
  
        @media (min-width: $breakpoint-tablet) {
          margin: $component-spacing-desktop/2 0;
          padding: 0 $padding-mobile;
        }
  
        @media (min-width: $breakpoint-desktop) {
          margin: $component-spacing-desktop/2 0;
          padding: 0 $padding-desktop;
        }
  
        &[class*='theme'] {
          margin: 0;
          padding: $component-spacing-mobile/2 0;
  
          @media (min-width: $breakpoint-tablet) {
            padding: $component-spacing-desktop/2 0;
          }
  
          @media (min-width: $breakpoint-desktop) {
            padding: $component-spacing-desktop/2 0;
          }
        }
      }
  
      > .componentSpacing {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
