/* Custom styling for online exhibition posts */

.single-onlinexhibition {
  .digital-header {
    align-items: center;
    border-bottom: 2px solid $black;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    justify-content: center;
    padding: $component-spacing-desktop;

    @media (min-width: $breakpoint-desktop) {
      height: calc(100vh - 205px);
    }

    .exhibition-title {
      text-align: center;

      @media (min-width: $breakpoint-desktop) {
        max-width: 70%;
      }
    }
  }

  .post-related {
    margin-top: 0;
  }

  // .mainFooter {
  //   display: none;
  // }
}
