.menu {
  backface-visibility: hidden;
  background-color: $color-background;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 10px $padding-mobile;
  position: fixed;
  top: $navigation-height;
  transform: translateY(-100%);
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.45s;
  visibility: hidden;
  width: 100%;
  z-index: 98;

  .admin-bar & {
    top: $navigation-height + 46px;

    @media (min-width: 783px) {
      top: $navigation-height + 32px;
    }
  }

  &-item--current {
    .menu-link {
      color: $color-accent;
    }
  }

  &-link {
    color: $color-text;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s ease-out;
    width: fit-content;

    &:focus {
      color: $color-accent;
    }

    @media (min-width: $breakpoint-tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

&.flyntComponent-menuIsOpen .menu {
  transform: translateY(0);
  visibility: visible;
}
