.searchForm {  
  &-field {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    z-index: 1002;
  }

  &-input {
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $black;
    font-family: inherit;
    margin: 0 0 0 10px;
    outline: 0;
    padding: 0;
  }

  &-submit {
    margin-top: 0;
    padding: 0;
  }
}
