<div class="container-inner container-inner--right">
  <div class="current-time h4">
    <span class="current-time--time">{{ fn('wp_date', 'H:i') }}</span>
    {# <span class="current-time--open sup">Open</span>
    <span class="current-time--closed sup">Closed</span> #}
    <span class="sup" id="openClose">Closed</span>
  </div>
</div>
