.current-time {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  text-align: right;

  &--time {
    margin-right: 5px;
  }

  .sup {
    // display: none;
    font-size: 0.8rem;
    font-weight: 800;
    margin-left: 10px;
    text-transform: uppercase;
  }

  &--open {
    &::after {
      color: #0f0;
      content: '•';
      font-size: 1rem;
      margin-left: 5px;
    }
  }

  &--closed {
    &::after {
      color: #f00;
      content: '•';
      font-size: 1rem;
      margin-left: 5px;
    }
  }
}
