<div class="container-inner container-inner--right">
  <div class="current-time h4">
    {{ fn('wp_date', 'H:i') }}
    <span class="current-time--open sup">Open</span>
    <span class="current-time--closed sup">Closed</span>
  </div>
</div>
