.logo {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-weight: 600;
  height: 100%;
  justify-content: flex-start;
  text-decoration: none;
  z-index: 101;

  &-image {
    height: auto;
    width: 125px;
  }
}
