[is='flynt-block-wysiwyg-two-col'] {
  &:last-child {
    .container {
      border-bottom: 0;
    }
  }

  .container {
    // border-bottom: 1px solid $black;
    display: flex;
    height: 100%;
    justify-content: space-between;
    row-gap: $padding-desktop;

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: block;
    }
  }

  .list {
    @include reset-list;
    width: 100%;
  }
  
  .content {
    @include reset-content-margins;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    &:first-child {
      margin-bottom: $padding-desktop*2;

      div {
        justify-content: flex-start;
      }
    }

    &-left {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      width: 20%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        width: 100%;
      }
    }

    &-right {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      width: 50%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        width: 100%;
      }

      img {
        display: block;
        height: 400px;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
