[is='flynt-block-wysiwyg-two-col'] {
  &:last-child {
    .container {
      border-bottom: 0;
    }
  }

  .container {
    border-bottom: 1px solid $black;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding-bottom: $padding-desktop;
    row-gap: $padding-desktop;

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: block;
    }
  }
  
  .content {
    @include reset-content-margins;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    &-left {
      width: 20%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        width: 100%;
      }
    }

    &-right {
      width: 50%;

      @media (max-width: $breakpoint-mobile-horizontal) {
        width: 100%;
      }
    }
  }
}
