{% if posts|length > 0 %}
  <div class="searchList">
    {% for post in posts  %}
      <a class="searchList-item" href="{{ post.link }}">
        <article class="post">
          <div class="h3">{{ post.title }}</div>
          {# <p>{{ post.preview.length(40).read_more(false) }}</p> #}
        </article>
      </a>
    {% endfor %}
  </div>
{% else %}
  <div class="noResults">
    <p>{{ labels.noResults }}</p>
  </div>
{% endif %}
