.searchList {
  column-gap: $gap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin-top: 40px;
  padding: 0;
  row-gap: $gap;

  &-item {
    border: 2px solid $black;
    display: flex;
    padding: 20px;
    position: relative;

    &:hover,
    &:focus {
      background-color: $black;

      .h3 {
        color: $white !important;
      }
    }
  }
}

.post {
  @include reset-content-margins;
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;

  &-footer {
    text-align: right;
  }
}

.noResults {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
