<div class="flyntComponent" is="flynt-block-digital-hero-text">
  <div class="container">
    <div class="text">{{ content }}</div>
    <a class="linklink" href="{{ linklink.url }}" target="_blank"><h2>{{ linklink.title|e }}</h2></a>
  </div>
</div>
