[is='flynt-grid-posts-latest'] {
  .preContent {
    display: flex;
    flex-flow: row wrap;

    h4 {
      margin-bottom: 0;
      margin-right: $padding-mobile;
      max-width: 20%;
    }

    .separator {
      border-bottom: 1px solid #000;
      flex-grow: 2;
    }
  }

  .grid {
    column-gap: $gap;
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: $gap;

    &--columns2 {
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: $breakpoint-tablet-horizontal) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--columns3 {
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: $breakpoint-tablet-horizontal) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--columns4 {
      grid-template-columns: repeat(4, 1fr);

      @media (max-width: $breakpoint-tablet-horizontal) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .grid-item {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;

    &-image {
      // background: $color-contrast;
      border: 2px solid $black;
      flex-shrink: 0; // IE11 bug fix (prevent image from stretchin')
      margin-top: $padding-mobile;
    }

    &-inner {
      @include reset-content-margins;
      color: $color-text;
      flex-grow: 1;

      #{$heading-selectors} {
        color: $color-headline;
      }

      &-top {
        align-items: center;
        border-bottom: 1px solid #000;
        column-gap: 10%;
        display: grid;
        grid-template-columns: 70% 20%;

        @media (max-width: $breakpoint-mobile-horizontal) {
          grid-template-columns: 60% 30%;
        }

        &--left {
          display: flex;
          flex-flow: column wrap;
        }

        &--right {
          align-content: center;
          background-color: transparent;
          border-left: 1px solid $black;
          border-right: 1px solid $black;
          border-top: 1px solid $black;
          color: $black;
          display: flex;
          flex-flow: column;
          justify-content: center;
          padding: 10px 0;
          text-align: center;

          span {
            line-height: 1.2;
            text-transform: uppercase;
          }
        }
      }

      .h3 {
        margin-bottom: $padding-mobile/3;
        padding-top: 0;
      }

      &-bottom {
        padding-top: $padding-mobile;

        h4 {
          margin-bottom: 0.5rem;
        }
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      text-decoration: none;
    }

    &-footer {
      align-items: center;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      @media (min-width: $breakpoint-tablet-horizontal) {
        padding: 0 30px;
      }
    }
  }

  .grid-item {
    &:hover {
      .content-inner-top--right {
        background-color: $black;
        color: $white;
      }
    }
  }
}
