[is='flynt-navigation-main'] {
  // $navigation-height: 100px;
  display: none;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .wrapper {
    background-color: $color-background;
    border-bottom: 2px solid $black;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    // height: $navigation-height;
  }

  .container {
    display: grid;
    grid-template-columns: 1.5fr 4fr 1fr 1fr;
    height: 100%;
    justify-content: space-between;
    padding: $padding-mobile $padding-desktop;
  }

  .logo {
    display: block;
    height: 100%;

    &-image {
      height: 100%;
      width: 125px;
    }
  }

  .menu {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &-item {
      margin-bottom: 10px;
      width: 50%;
    }

    &-item--current {
      .menu-link {
        color: $color-accent;
      }
    }

    &-link {
      color: $color-text;
      display: inline-block;
      padding: 0 18px;
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }

  .logologo {
    text-align: center;
  }

  .current-time {
    text-align: right;
  }

  .navigationMain-show {
    transform: translateY(0);
    transition: all 0.5s linear;
  }

  .navigationMain-hide {
    transform: translateY(-165px);
    transition: all 0.5s linear;
  }

  @import 'Partials/language';
  @import 'Partials/search';
  @import 'Partials/hamburger';
}
